* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4e9d78;
    color: white;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.header a {
    text-decoration: none;
    color: white;
}

.image-block {
    text-align: center;
    padding: 10px;
    background-color: #72896873;
}

.description,
.ingredients,
.steps {
    padding: 20px;
    padding-left: 200px;
}

.links {
    font-size: 22px;
    padding: 50px;
}

.links ul {
    display: flex;
    list-style: none;
    /* border: 2px solid red; */
}

.links ul li {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.links a {
    color: black;
    text-decoration-color: rgba(78, 157, 120, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.2em;
    font-weight: bold;
    padding-top: 20px;
}

.links a:hover {
    text-decoration-color: #4e9d78;
    text-underline-offset: 0.4em;
}

.links img {
    height: 250px;
    width: 250px;
}
.image-block img {
    height: 500px;
}

.steps,
.description,
.ingredients,
.links {
    background-color: rgba(206, 206, 206, 0.432);
}