* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(78, 157, 120);
    color: white;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.image-block {
    text-align: center;
    padding: 10px;
    background-color: #72896873;
}

.description,
.ingredients,
.steps,
.links {
    padding: 20px;
    padding-left: 200px;
}

.links {
    font-size: 24px;
}

.links li {
    padding: 26px;
    list-style: none;
}
.image-block img {
    height: 500px;
}
.steps,
.description,
.ingredients,
.links {
    background-color: rgba(206, 206, 206, 0.432);
}