* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(78, 157, 120);
    color: white;
    font-size: 32px;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}

.steps,
.description {
    background-color: rgba(206, 206, 206, 0.432);
}